#Cuca-Navbar-Logo {
  height: 60px;
  width: auto;
}

.profile-pic {
  height: 60px;
  width: auto;
  border-radius: 50%;
}

.cuca-nav {
  background-color:#465C8B;
  font-weight: bold;
  font-size: large;
}

.cuca-white-text{
  color:#DFDCE3 !important;
  font-family: 'Roboto', sans-serif;
}

.nav-link:hover { 
  color:#93C178 !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.about-page{
  background-color:#465C8B;
  color:#DFDCE3;
  font-family: 'Roboto', sans-serif;
}

.cuca-banner{
  height: 400px;
  width: auto;
}


.dictionary-border{
  border-color: #DFDCE3;
}

.dictionary-ex-phrase {
  opacity: 0.7;
}

.dictionary-def{
  font-size: large;
  font-weight: 500;
  margin-bottom: 40px;
}

.active-green input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #93C178;
  box-shadow: 0 1px 0 0 #93C178;
}

.active-green  i {
  color: #93C178;
}

.btn.btn-success,
.btn.btn-success:focus,
.btn.btn-success:active,
.btn.btn-success.active {
  color:white;
  background-color: #93C178 !important;
  border-color: #93C178;
}

.btn.btn-warning,
.btn.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  color:black;
  background-color: #F7EF6A !important;
  border-color: #F7EF6A;
}

.btn.btn-success:hover,
.btn.btn-warning:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  color: #465C8B;
  font-weight:bold;
}

footer {
  background-color: #465C8B !important;
  margin-top:20px;
}


#search-button {
  display: none;
}

.modal-text{
  color: #465C8B;
}

.cuca-standard-page{
  background-color:#DFDCE3;
  color:black;
  font-family: 'Roboto', sans-serif;
}

.cookbook-card {
  width: 18rem;
  display:inline-block;
}

.icon-button{
  cursor: pointer;
  font-size: large;
}

.icon-button:hover{
  color:#93C178;
}

.cb-cover-img {
  cursor: pointer;
}

.cb-modal-photo {
  width: 100%;
  height: auto;
}

.section-heading{
  font-weight: 500;
}

#edit-overlay-text{
  font-size: xx-large;
  font-weight: bolder;
  color: black;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}

.btn-circle.btn-md { 
  width: 50px; 
  height: 50px; 
  padding: 7px 10px; 
  border-radius: 25px; 
  font-size: 10px; 
  text-align: center; 
} 

.card-img-top {
  width:100%;
  height: 30vh;
  object-fit: cover;
}